@model Meshkah.ViewModels.AuthVM

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_StrudentLayout.cshtml";
}

<h2 class="text-center font-weight-bolder text-info text-gradient">حساب جديد</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="SignUp" method="POST" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name"  type="Email" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                @if(ViewData["Message"] != null)
                {
                <div class="badge bg-danger p-1">
                    <span>@ViewData["Message"]</span>     
                </div>
                }
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="انشاء" class="btn bg-gradient-info w-100 mt-4 mb-0 fs-5" />
            </div>
        </form>
        <p class="mb-4 text-sm mx-auto">
            عندك حساب؟
            <a asp-action="Login" class="text-info text-gradient font-weight-bold">سجل دخول</a>
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
