@model Meshkah.ViewModels.SearchUsersVM

@{
    ViewData["Title"] = "Index";
}

<h3>جميع المستخدمين</h3>

<div class="d-flex justify-content-end">

    <div>

    <a class="btn btn-outline-secondary" asp-action="Create" >انشاء مستخدم جديد</a>
    </div>
</div>


<div style="max-width:calc(100vm-2rem);overflow-x:scroll">

<table id="usersTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                @*<th>Action</th>*@
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                @*<th>Action</th>*@
            </tr>
        </tfoot>
    </table>
    </div>


@section Scripts{
    <script>

        window.addEventListener('load', (event) => {
            Search();
        });

        $('#form').on('submit', function (e) {
                    e.preventDefault();  
         })

        function Search(){
            $('#usersTable').DataTable( {

             "order": [[0, "desc"]],
            "ajax": {
            "url": "/users/list",
            "type": "GET"
            },
            columns: [
                    { data: 'id' },
                    { data: 'name' },
                    { data: 'email' }
                ]
            });
        }

        $('.select2').select2();

    </script>
}

              @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@